.promo-section {
  padding: 8px 0 42px;
}

.promo-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
}

.promo-heading span {
  color: #7b7b7b;

  font-size: 12px;
  font-weight: 700;
}

.promo-track-wrapper {
  overflow: hidden;

  border-radius: 18px;

  background: #181818;

  padding: 11px 0;
}

.promo-track {
  display: flex;

  width: max-content;

  animation:
    promoRTL 30s linear infinite;
}

.promo-track:hover {
  animation-play-state: paused;
}

.promo-item {
  min-width: 430px;
  height: 106px;

  position: relative;

  margin-right: 12px;

  overflow: hidden;

  border-radius: 14px;
}

.promo-item img {
  height: 100%;

  object-fit: cover;
}

.promo-item::after {
  content: "";

  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.05)
    );
}

.promo-text {
  position: absolute;

  z-index: 2;

  left: 20px;
  top: 50%;

  transform: translateY(-50%);

  color: #fff;
}

.promo-text strong {
  display: block;

  font-size: 17px;
  line-height: 1.2;
}

.promo-text span {
  display: block;

  margin-top: 5px;

  color: rgba(255, 255, 255, 0.78);

  font-size: 11px;
}

@keyframes promoRTL {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 720px) {
  .promo-item {
    min-width: 310px;
    height: 88px;
  }
}