:root {
  --primary: #f39200;
  --primary-dark: #d97800;
  --secondary: #1d8f4e;

  --dark: #171717;
  --text: #282828;
  --muted: #777777;

  --bg: #f7f7f5;
  --white: #ffffff;
  --border: #e9e9e6;

  --success: #25d366;

  --radius: 18px;
}